<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- 配置文件上传的路径 -->
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			E:\git\yves\WebRoot\files\uploadFile\
	     </param-value>
	</context-param>

	<display-name></display-name>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.com.yves.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ReadXML</servlet-name>
		<servlet-class>cn.com.yves.servlet.ReadXML</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ReadJson</servlet-name>
		<servlet-class>cn.com.yves.servlet.ReadJson</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ShowUserServlet</servlet-name>
		<servlet-class>cn.com.yves.servlet.ShowUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>FormServlet</servlet-name>
		<servlet-class>cn.com.yves.servlet.FormServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Forward</servlet-name>
		<servlet-class>cn.com.yves.servlet.Forward</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ForWard2</servlet-name>
		<servlet-class>cn.com.yves.servlet.ForWard2</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UploadingFile</servlet-name>
		<servlet-class>cn.com.yves.servlet.UploadingFile</servlet-class>
	</servlet>
	<!-- 文件下载的Servlet -->
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>cn.com.yves.servlet.DownloadFile</servlet-class>
		<!-- 当Servlet加载的时候init-param用来初始化参数 -->
		<init-param>
			<param-name>contentType</param-name>
			<param-value>application/x-msdownload</param-value>
		</init-param>
		<init-param>
			<param-name>downPath</param-name>
			<param-value>E:\git\yves\WebRoot\files\DownloadFile\</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageRedirect</servlet-name>
    <servlet-class>cn.com.yves.servlet.PageRedirect</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HttpServletResponseMethodTest</servlet-name>
    <servlet-class>cn.com.yves.servlet.HttpServletResponseMethodTest</servlet-class>
  </servlet>












	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadXML</servlet-name>
		<url-pattern>/readXML</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadJson</servlet-name>
		<url-pattern>/readJson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowUserServlet</servlet-name>
		<url-pattern>/showUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormServlet</servlet-name>
		<url-pattern>/formServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forward</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForWard2</servlet-name>
		<url-pattern>/forWard2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadingFile</servlet-name>
		<url-pattern>/uploadingFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/downloadFile</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageRedirect</servlet-name>
    <url-pattern>/pageRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletResponseMethodTest</servlet-name>
    <url-pattern>/httpServletResponseMethodTest</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>



</web-app>