<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<display-name></display-name>


	<!--context-param配置是配置在上下文中,也就整个工程Application,相当于全局配置 -->
	<!-- 配置文件上传的路径 -->
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			E:\git\yves\WebRoot\files\uploadFile\
	     </param-value>
	</context-param>

	<!-- 测试servletContextTestServlet获得ServletContext -->
	<context-param>
		<param-name>servletContextTestParameter</param-name>
		<param-value>Test success!</param-value>
	</context-param>



	<!-- 测试JSP object9中config.getInitParameter和servletContext.getInitParameter -->
	<context-param>
		<param-name>initPrarameter</param-name>
		<param-value>initPrarameter value!</param-value>
	</context-param>

	<!-- 配置过滤器 -->
	<filter>
		<filter-name>FilterAll</filter-name>
		<filter-class>cn.com.yves.servlet.FilterAll</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterAll</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.com.yves.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ReadXML</servlet-name>
		<servlet-class>cn.com.yves.servlet.ReadXML</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ReadJson</servlet-name>
		<servlet-class>cn.com.yves.servlet.ReadJson</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ShowUserServlet</servlet-name>
		<servlet-class>cn.com.yves.servlet.ShowUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>FormServlet</servlet-name>
		<servlet-class>cn.com.yves.servlet.FormServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Forward</servlet-name>
		<servlet-class>cn.com.yves.servlet.Forward</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ForWard2</servlet-name>
		<servlet-class>cn.com.yves.servlet.ForWard2</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UploadingFile</servlet-name>
		<servlet-class>cn.com.yves.servlet.UploadingFile</servlet-class>
	</servlet>

	<!-- 文件下载的Servlet -->
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>cn.com.yves.servlet.DownloadFile</servlet-class>
		<!-- 当Servlet加载的时候init-param用来初始化参数 -->
		<init-param>
			<param-name>contentType</param-name>
			<param-value>application/x-msdownload</param-value>
		</init-param>
		<init-param>
			<param-name>downPath</param-name>
			<param-value>E:\git\yves\WebRoot\files\DownloadFile\</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PageRedirect</servlet-name>
		<servlet-class>cn.com.yves.servlet.PageRedirect</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>HttpServletResponseMethodTest</servlet-name>
		<servlet-class>cn.com.yves.servlet.HttpServletResponseMethodTest</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>HttpServletRequestMethodTest</servlet-name>
		<servlet-class>cn.com.yves.servlet.HttpServletRequestMethodTest</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SessionTrack</servlet-name>
		<servlet-class>cn.com.yves.servlet.SessionTrack</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SessionTrack2</servlet-name>
		<servlet-class>cn.com.yves.servlet.SessionTrack2</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CookieConfig</servlet-name>
		<servlet-class>cn.com.yves.servlet.CookieConfig</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AutoRefresh</servlet-name>
		<servlet-class>cn.com.yves.servlet.AutoRefresh</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>cn.com.yves.servlet.user.UserDelete</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserAdd</servlet-name>
		<servlet-class>cn.com.yves.servlet.user.UserAdd</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserQuery</servlet-name>
		<servlet-class>cn.com.yves.servlet.user.UserQuery</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserUpdate</servlet-name>
		<servlet-class>cn.com.yves.servlet.user.UserUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>cn.com.yves.servlet.user.UserLogin</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserExit</servlet-name>
		<servlet-class>cn.com.yves.servlet.user.UserExit</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserList</servlet-name>
		<servlet-class>cn.com.yves.servlet.user.UserList</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ServletContextTest</servlet-name>
		<servlet-class>cn.com.yves.servlet.ServletContextTest</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginValidate</servlet-name>
    <servlet-class>cn.com.yves.servlet.user2.UserLoginValidate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAdd2</servlet-name>
    <servlet-class>cn.com.yves.servlet.user2.UserAdd2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdate2</servlet-name>
    <servlet-class>cn.com.yves.servlet.user2.UserUpdate2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserList2</servlet-name>
    <servlet-class>cn.com.yves.servlet.user2.UserList2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDelete2</servlet-name>
    <servlet-class>cn.com.yves.servlet.user2.UserDelete2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserExit2</servlet-name>
    <servlet-class>cn.com.yves.servlet.user2.UserExit2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserQuery2</servlet-name>
    <servlet-class>cn.com.yves.servlet.user2.UserQuery2</servlet-class>
  </servlet>
































	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadXML</servlet-name>
		<url-pattern>/readXML</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadJson</servlet-name>
		<url-pattern>/readJson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowUserServlet</servlet-name>
		<url-pattern>/showUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormServlet</servlet-name>
		<url-pattern>/formServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forward</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForWard2</servlet-name>
		<url-pattern>/forWard2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadingFile</servlet-name>
		<url-pattern>/uploadingFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/downloadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageRedirect</servlet-name>
		<url-pattern>/pageRedirect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpServletResponseMethodTest</servlet-name>
		<url-pattern>/httpServletResponseMethodTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpServletRequestMethodTest</servlet-name>
		<url-pattern>/httpServletRequestMethodTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionTrack</servlet-name>
		<url-pattern>/sessionTrack</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionTrack2</servlet-name>
		<url-pattern>/sessionTrack2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieConfig</servlet-name>
		<url-pattern>/cookieConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutoRefresh</servlet-name>
		<url-pattern>/autoRefresh</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/userDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAdd</servlet-name>
		<url-pattern>/userAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserQuery</servlet-name>
		<url-pattern>/userQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserUpdate</servlet-name>
		<url-pattern>/userUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserExit</servlet-name>
		<url-pattern>/userExit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/userList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletContextTest</servlet-name>
		<url-pattern>/servletContextTest</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginValidate</servlet-name>
    <url-pattern>/userLoginValidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdd2</servlet-name>
    <url-pattern>/userAdd2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdate2</servlet-name>
    <url-pattern>/userUpdate2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserList2</servlet-name>
    <url-pattern>/userList2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDelete2</servlet-name>
    <url-pattern>/userDelete2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserExit2</servlet-name>
    <url-pattern>/userExit2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQuery2</servlet-name>
    <url-pattern>/userQuery2</url-pattern>
  </servlet-mapping>





</web-app>